<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/metatags.html"/>
    <title>Kundendaten erfassen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="fragments/navigation"></div>

    <div th:replace="fragments/customer/customerdatatable"></div>
    <div th:replace="fragments/customer/addcustomerform"></div>
</body>
</html>
