<!DOCTYPE html>
<html>
    <head xmlns:th="http://www.thymeleaf.org">
        <title>DenktMit TAM</title>
        <meta th:replace="fragments/metatags.html"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <div th:replace="fragments/navigation"></div>
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <h1>DenktMit TAM</h1>
                        <p>Beispiel Stammdaten CRUD: Kundendaten <a href="/customer/1">pflegen und anzeigen</a></p>
                        <p>TimeSheet Upload MVP <a href="/timesheet/upload/part1">hoch</a></p>
                        <p><a href="https://github.com/DenktMit-eG/de.denktmit.tam">GitHub Projekt</a></p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
