<html xmlns:th="http://www.thymeleaf.org">
<form th:action="@{/customer/{p} (p=${currentPage})}" th:object="${newCustomer}"
      method="post" class="tam-header" name="customerForm">
    <div th:fragment="customertable">
        <div th:if="${message}" th:text="${message}"
             class="alert alert-success message-bk-customer">
        </div>
        <div th:if="${errorMessage}" th:text="${errorMessage}"
             class="alert alert-danger message-bk-customer">
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Unternehmen</th>
                <th>Ansprechpartner</th>
                <th>ISO Code Land</th>
                <th>PLZ</th>
                <th>Stadt</th>
                <th>Straße und Hausnummer</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input th:field="*{companyName}"
                           class="form-control tam-company-name"
                           type="text"
                           required
                           maxlength="200"/>
                </td>
                <td class="padding-middle">
                    <input th:field="*{contactName}"
                           class="form-control tam-contact-name"
                           type="text"
                           required
                           maxlength="200"/>
                    </input>
                </td>
                <td class="padding-middle">
                    <input th:field="*{addressCountryIsoCode}"
                           class="form-control tam-address-country-iso-code"
                           type="text"
                           required
                           maxlength="5"/>
                </td>
                <td class="padding-middle">
                    <input th:field="*{addressZip}"
                           class="form-control tam-address-zip"
                           type="number"
                           required
                           maxlength="10"/>
                </td>
                <td class="padding-middle">
                    <input th:field="*{addressCity}"
                           class="form-control tam-adress-city"
                           type="text"
                           required
                           maxlength="100"/>
                </td>
                <td class="padding-middle">
                    <input th:field="*{addressStreet}"
                           class="form-control tam-adress-street"
                           type="text"
                           required
                           maxlength="200"/>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <button class="btn btn-success pull-right tam-save" type="submit">Speichern</button>
                </td>
            </tr>
            </tfoot>
            </tbody>
        </table>
    </div>
</form>
